.home-container {
  
}

.home-container h1 {
    
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 450px;
    margin: 0 6rem 0 6rem;
    
    
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }

.featured-container h1 {
text-align: center;
padding: 20px;
}

.featured-container .cards-featured-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}