.appbar-container {
    background-color: #212529;
}

.appbar-container .appbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.appbar-container .appbar-content h1 {
    color: white;
    cursor: pointer;
}


.appbar-container .appbar-content .appbar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.appbar-container .appbar-content .appbar-items .link-nav {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.appbar-container .category-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    padding: 50px;
    padding-top: 25px;

}

.appbar-container .category-item {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-weight: 400;
    margin: 10px;
}